# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Ouesso,CG,1.6136,16.0517,70.68,98,85,1.23,overcast clouds
1,1,Yellowknife,CA,62.4560,-114.3525,27.12,86,100,9.22,light snow
2,2,Puerto Ayora,EC,-0.7393,-90.3518,73.36,93,98,5.01,overcast clouds
3,3,Dikson,RU,73.5069,80.5464,16.27,94,100,9.73,overcast clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,14.00,79,100,16.11,light snow

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
7,7,Hilo,US,19.7297,-155.0900,83.25,80,100,5.99,overcast clouds
9,9,Itarema,BR,-2.9248,-39.9167,78.84,81,46,19.84,scattered clouds
13,13,Avarua,CK,-21.2078,-159.7750,78.85,65,40,20.71,scattered clouds
14,14,Champerico,GT,14.3000,-91.9167,83.93,69,98,7.67,overcast clouds
15,15,Lazaro Cardenas,MX,17.9583,-102.2000,83.68,72,6,6.73,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
7,7,Hilo,US,19.7297,-155.0900,83.25,80,100,5.99,overcast clouds
9,9,Itarema,BR,-2.9248,-39.9167,78.84,81,46,19.84,scattered clouds
13,13,Avarua,CK,-21.2078,-159.7750,78.85,65,40,20.71,scattered clouds
14,14,Champerico,GT,14.3000,-91.9167,83.93,69,98,7.67,overcast clouds
15,15,Lazaro Cardenas,MX,17.9583,-102.2000,83.68,72,6,6.73,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head

<bound method NDFrame.head of                 City Country  Max Temp       Description      Lat       Lng
7               Hilo      US     83.25   overcast clouds  19.7297 -155.0900
9            Itarema      BR     78.84  scattered clouds  -2.9248  -39.9167
13            Avarua      CK     78.85  scattered clouds -21.2078 -159.7750
14        Champerico      GT     83.93   overcast clouds  14.3000  -91.9167
15   Lazaro Cardenas      MX     83.68         clear sky  17.9583 -102.2000
..               ...     ...       ...               ...      ...       ...
682           Itoman      JP     77.02     broken clouds  26.1247  127.6694
686            Mecca      SA     80.87         clear sky  21.4267   39.8261
687        Morondava      MG     77.50        light rain -20.2833   44.2833
689        Totolapan      MX     77.54  scattered clouds  18.5167  -96.1833
694        Ewa Beach      US     85.98         clear sky  21.3156 -158.0072

[195 rows x 6 columns]>

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,Hilo,US,83.25,overcast clouds,19.7297,-155.0900,
9,Itarema,BR,78.84,scattered clouds,-2.9248,-39.9167,
13,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,
14,Champerico,GT,83.93,overcast clouds,14.3000,-91.9167,
15,Lazaro Cardenas,MX,83.68,clear sky,17.9583,-102.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"] 
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,Hilo,US,83.25,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Itarema,BR,78.84,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
13,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn
14,Champerico,GT,83.93,overcast clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
15,Lazaro Cardenas,MX,83.68,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,Hilo,US,83.25,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Itarema,BR,78.84,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
13,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn
14,Champerico,GT,83.93,overcast clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
15,Lazaro Cardenas,MX,83.68,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA

In [16]:
# Count how many City-Hotels are in the DataFrame
len(clean_hotel_df)

195

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """

Hotel Name
{Hotel Name}
City
{City}
Country
{Country}
Description
{Description}
Max Temp
{Max Temp}

"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n\nHotel Name\nHilo Hawaiian Hotel\nCity\nHilo\nCountry\nUS\nDescription\novercast clouds\nMax Temp\n83.25\n\n',
 '\n\nHotel Name\nSea Lounge! Bar, Club & Restaurant\nCity\nItarema\nCountry\nBR\nDescription\nscattered clouds\nMax Temp\n78.84\n\n',
 '\n\nHotel Name\nParadise Inn\nCity\nAvarua\nCountry\nCK\nDescription\nscattered clouds\nMax Temp\n78.85\n\n',
 '\n\nHotel Name\nHotel y restaurante "El Diamante"\nCity\nChamperico\nCountry\nGT\nDescription\novercast clouds\nMax Temp\n83.93\n\n',
 '\n\nHotel Name\nHOTEL QUINTA ANTIGUA\nCity\nLazaro Cardenas\nCountry\nMX\nDescription\nclear sky\nMax Temp\n83.68\n\n',
 '\n\nHotel Name\nHeritage Park Hotel\nCity\nHoniara\nCountry\nSB\nDescription\nfew clouds\nMax Temp\n84.24\n\n',
 '\n\nHotel Name\nCititel Penang\nCity\nGeorgetown\nCountry\nMY\nDescription\nscattered clouds\nMax Temp\n81.23\n\n',
 '\n\nHotel Name\nGrand Ibro Hotel\nCity\nSokoto\nCountry\nNG\nDescription\nclear sky\nMax Temp\n79.86\n\n',
 '\n\nHotel Name\nVilla Enata\nCity\nAtuona\nCountry\nPF\nDescription\nclear sky\nMax Temp\n78.12\n\n',
 '\n\nHotel Name\nSheraton Kauai Coconut Beach Resort\nCity\nKapaa\nCountry\nUS\nDescription\nfew clouds\nMax Temp\n82.72\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
7   19.7297 -155.0900
9   -2.9248  -39.9167
13 -21.2078 -159.7750
14  14.3000  -91.9167
15  17.9583 -102.2000
16  -9.4333  159.9500
18   5.4112  100.3354
20  13.0609    5.2390
28  -9.8000 -139.0333
38  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [23]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))